
ul{
    display: flex;
    list-style-type: none;
    margin-left: 110px;
    padding-left: 0;
    font-family: 'calibri', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: rgb(145, 157, 207);
    position: sticky;
    top: 0;
    
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(36, 34, 34);
    font-family: 'calibri', sans-serif;
}
.img-perfil{
    width: 5%;
    height: 5%;
    display: flex;
    margin-top: -22px;
    border-radius: 40%;
    object-fit: cover;
}
input{
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(145, 157, 207);
    padding: 5px;
    margin-left: 20px;
    margin-top: -10px;
}

.publicaciones{
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(5,auto);
    gap: 2%;
    height: auto;

}
.img-publicacion{
    width: 90%;
    height: 90%;
}

div{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border: 1px solid rgb(145, 157, 207);
    border-radius: 5px;
    padding: 10px;
    width: 83%;
    display: grid;
    place-items: center;
}

a{
    text-decoration: none;
    color: black;
}

input[type="file"]{
    display: none;
}

label{
    display: flex;
    list-style-type: none;
    margin-left: 10px;
}