
ul{
    display: flex;
    list-style-type: none;
    margin-left: 130px;
    padding-left: 0;
    font-family: 'calibri', sans-serif;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 20px;
    background-color: rgb(145, 157, 207);
    
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(36, 34, 34);
    font-family: 'calibri', sans-serif;
}
.img-perfil{
    width: 5%;
    height: 5%;
    display: flex;
    margin-top: -22px;
}
input{
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(145, 157, 207);
    padding: 5px;
    margin-left: 20px;
    margin-top: -5px;
}

.publicaciones{
    display: flex;
}
.img-publicacion{
    width: 90%;
    height: 90%;
}

div{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border: 1px solid rgb(145, 157, 207);
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    display: grid;
    place-items: center;
}

a{
    text-decoration: none;
    color: black;
}
