.formulario-register{
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 60px;
    width: 300px;
    position: absolute;
    top: 150px;
    left: 45%;
    margin-left: -150px;
    background-color: #f8f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
}


input{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    background-color: #D9D9D9; 
    border: none;
}

div{
    margin: 10px auto;
    width: 100%;
    text-align: center;
  }

h2{
    text-align: center;
    color: #4c4eaf
}

.button{
    width: 100%;
    padding: 10px; 
    background-color: #4c4eaf;
    color: white;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
  }

body{
    background-color: rgb(36, 34, 34);
    font-family: 'Roboto', sans-serif;
}