.formulario-login {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 60px;
  width: 300px;
  position: absolute;
  top: 150px;
  left: 45%;
  margin-left: -150px;
  background-color: #f8f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
}


.formulario{
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;   
  background-color: #D9D9D9; 
  border: none;
}
div{
  margin: 32px auto;
  width: 100%;
  text-align: center;
  
}

h2{
  text-align: center;
    
}

p{
  text-align: center;
  font-size: 14px;
}

a{
  margin-left: 10px;
}

.button{
  width: 100%; /* ancho */
  padding: 10px; /* alto */
  background-color: #4c4eaf;
  color: white;
  border: none; /* quitar borde */
  border-radius: 5px; /* redondear esquinas */
  cursor: pointer; /* cursor de la mano */
}  

body{
  background-color: rgb(36, 34, 34);
}